.dashboard {
  .text-warning {
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    color: #66390d;
    position: absolute;
    top: 10px;
  }
}
